<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% load static %}
{% block body %}
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for i in var %}
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.address }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock body %}

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>