{% extends 'theme/Practice1.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}


<div class="container-fluid topgap">
    <h1 style="font-size:55px">
        <center><b> Healthy Habits</b></center>
    </h1>
</div>
<br>
<div class="container-fluid topgap">
    <h1 style="font-size:55px">
        <center><b> FUEL + FITNESS</b></center>
    </h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="column col-lg-6 ">
            <img src="{% static 'exerpic/Step-up.gif'%}" height="500px" width="100%">

        </div>
        <div class="column col-lg-6 ">
            <h2>INCLUDE THESE <b>THREE </b> AREAS OF FOOD INTO EVERY MEAL <br>HAVE AN AFTERNOON SNACK THAT INCLUDER COMPLEX CARBAS AND LEAN PROTEINS
            </h2>
           
        </div>

    </div>
</div><br><br>
<hr><br><br>

<h2>TAPER CARBS AS THE DAY PROGRESSES:</h2>
<h2>EAT MORE FOR BREAKFAST AND LUNCH AND FEWER DINNER </h2>











{% endblock body %}