{% extends 'theme/Practice1.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
<html>


    <style>
        .all {
            margin-left: 180px;
            margin-right: 180px;
        }


        .line {
            font-size: 21px;
            margin-bottom: 25px;
            margin-top: 25px;
            font-family: "Tiempos Text", "Tiempos Text Fallback", serif;
        }

        h4 {
            font-size: 30px;
            font-weight: bold;
            font-family: "Proxima Nova", "Proxima Nova Fallback", sans-serif;
			border-bottom: 6px solid #15ba8f;
        }

        h3 {
            font-size: 35px;
	font-weight: bold;
	font-family: "Proxima Nova","Proxima Nova Fallback" ,sans-serif;
        }
    </style>


    <br>
    <div class="container ">
        <div class="container-fluid topgap">
            <h1 style="font-size:55px">
                <b>Moves to Make the Most of Your</b>
            </h1>

            <h1 style="font-size:55px">
                <b>At-Home Workout</b>
            </h1>
        </div>

        <br><br>

        <h3>Best Exercises to Burn Belly Fat</h3>
        <p class="line"> When many people think of losing weight, one of the first things that comes to mind is getting a toned and taut tummy. We hate to break it to you, but doing hundreds of crunches every day isn't the best way to lose belly fat. In fact, exercises that promote spot reduction just don't exist.</p>
		<p class="line">“Spot reduction isn’t a viable approach to losing belly fat," explains fitness trainer and nutrition expert Corey Phelps, creator of the Cultivate by Corey Fitness Program. "But there are some great core-focused exercises that will torch fat all over the body, resulting in a strong and more chiseled core.” </p>
		
	   <br><br>
        <h3>Steps to Follow:</h3>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/AcademicUnhealthyEarthworm-size_restricted.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>Flutter kicks</h4>
                <p class="line"><b>Directions: </b><br>
Step 1: Lie down on your back with your legs together and hands underneath your buttocks.<br>
Step 2: Lift your right leg off the ground slightly past the hip height. At the same time lift the left leg so it hovers a few inches off the floor. Your back should be on the ground.<br>
Step 3: Hold this position for 5 seconds, then switch the position of the legs, making a flutter kick motion.<br>
Step 4: To make this exercise more challenging, lift your head and neck off the floor.

				<br><br></p>
                
                

            </div>

        </div>
    </div>
	
	<br><br>
    <hr><br><br>
	<div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/Kettlebell Swing.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>​Kettlebell Swing</h4>
                <p class="line"><b>Directions: </b><br>
				Step 1: Stand with your feet shoulder-width apart and hold a kettlebell from the handle with both hands.<br>
				Step 2: Bend your knees slightly, push your hips back, and swing the weight between your legs.<br>
				Step 3: Stand up, contract your glutes and swing the kettlebell up to about chest height.<br>
				Step 4: At the top of the momentum, lock your elbows, keep core tight, and quads and glutes contracted. Return to the squat position and repeat.




				<br><br></p>
                
                

            </div>

        </div>
    </div>
	<br><br>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/LOWER-ABS_STRAIGHT-LEG-RAISE.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>Leg raise</h4>
                <p class="line"><b>Directions: </b><br>
Step 1: Lie down on your back with your legs straight and together.<br>
				Step 2: Place your hands by your side and keep your legs straight and lift them to the ceiling until your butt comes off the floor.<br>

Step 3: Slowly lower your legs back to the ground.<br>

Step 4: Wait for 2-3 seconds then again take your legs up.


				<br><br></p>
                
                

            </div>

        </div>
    </div>
	<br><br>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/Cobra pose.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>​Bhujangasana or Cobra pose</h4>
                <p class="line"><b>Directions: </b><br>
			Step 1: Lie on your stomach with your feet wide apart from each other and hands stretched overhead.<br>
Step 2: Join both your legs and rest your forehead on the ground.<br>

Step 3: Pull back your hands underneath your shoulders (palms resting by the side of chest), keeping your elbows close to the body.<br>

Step 4: Take a deep breath and gently lift the upper half of your body.<br>

Step 5: Breathe in and out in this pose for 4-5 seconds and then come back to the starting position.


				<br><br></p>
                
                

            </div>

        </div>
    </div>
	<br><br>
    <hr><br><br>
	
	<div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/Leg ins and outs.gif'%}" width="100%">
            </div>
            <div class="column col-sm-6">
                <h4>Leg ins and outs</h4>
                <p class="line"> <b>Directions:</b><br>

                  Step 1: Sit down on the ground with your knees bent and feet placed firmly on the ground.<br>
Step 2: Keep your hand next to your hips. Your entire body weight should be on your butt and hands.<br>

Step 3: Slowly extend your legs out and back in towards your chest.


            </div>




        </div>
    </div>
	
	<br><br>
    <hr><br><br>
	
    <div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/gif.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>​V-ups</h4>
                <p class="line"><b>Directions: </b><br>
				Step 1: Lie on your back and extend your arms behind your head. Feet should be kept together and toes pointed.<br>
Step 2: Keeping your legs straight, lift them up and at the same time raise your upper body off the floor.<br>

Step 3: Keeping your core tight, reach out for your toes.<br>

Step 4: Lower yourself and return back to the original position


				<br><br></p>
                
                

            </div>

        </div>
    </div>
    <br><br>
      <hr><br><br>
<div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/Mountain.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>​Mountain Climbers</h4>
                <p class="line"><b>Directions: </b><br>
				Step 1: Get into a high plank position with your hands placed directly under your shoulder and toes tucked in. Your back should be in a straight line.<br>
Step 2: Bend your right knee and bring it near your chest, pause and then take it back to its original position.<br>

Step 3: Repeat the same with your left leg. It should look like you are running on your hands and knees.




				<br><br></p>
                
                

            </div>

        </div>
    </div>
    <br><br>
  <hr><br><br>
<div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/Russian twist.gif'%}" width="100%">

            </div>
            <div class="column col-sm-6 ">
                <h4>​Russian Twist</h4>
                <p class="line"><b>Directions: </b><br>
			Step 1: Sit down on the floor with your knees bent and feet lying flat on the ground.<br>
Step 2: Lean back slightly so your torso and thighs form a V-shape or a 45-degree angle.<br>

Step 3: Clasp both your hands in the front and lift your feet slightly off the ground.<br>

Step 4: Engage your core muscles to twist your torso first to the right, then back to centre, and then to the left.





				<br><br></p>
                
                

            </div>

        </div>
    </div>
    <br><br>
	  <hr><br><br>
	<div class="container">
        <div class="row">
            <div class="column col-sm-6 ">
                <img src="{% static 'exerpic/SidePlank.gif'%}" width="100%" height="450px">

            </div>
            <div class="column col-sm-6 ">
                <h4>​Side plank with leg lift</h4>
                <p class="line"><b>Directions: </b><br>
				Step 1: Lie on your right side and balance your body weight on your right forearm and right leg.<br>
Step 2: Lift your hips in the air to form a straight line from shoulders to ankles.<br>

Step 3: While keeping your torso stable, lift your left leg without bending your knee.<br>

Step 4: Take your left leg up (1 foot) then bring it back to the starting point. Try not to drop your hips.<br>






				<br><br></p>
                
                

            </div>

        </div>
    </div>
    <br><br>
  <hr><br><br>

    <br><br>


{% endblock body %}